.weather-checker {
    font-family: sans-serif;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid grey;
    background-color: #f1f1f1;
   
}
.weather-checker--button {
    color: #fff;
    padding: 4px;
    border-radius: 4px;
    margin-bottom: 4px;
    background-color: #1c1c1c;
    border: none;
}