.weather-checker {
    font-family: sans-serif;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid grey;
    background-color: #f1f1f1;
    &--button {
        background-color: red;
    }
}